{% extends 'base.html.twig' %}

{% block title %}PV n°{{ PV.numero }} | Modification{% endblock %}
{% block pageTitle %}Procès-Verbaux{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h3>PV n°{{ PV.numero }} - Modification</h3>
            <div class="btn-group m-2">
                <a href="{{ path('gd_pv_show', {'id': PV.id}) }}" class="btn btn-outline-secondary">
                    <span class="oi oi-chevron-left"></span> Retour au PV</a>
                {% if app.user.gendarme.isUnit('SR') or app.user.gendarme == PV.author or app.user.gendarme == PV.OPJ
                    or app.user.gendarme.isSection('PJGN') %}
                    {{ include('PV/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
    {{ include('PV/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css"
          rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            let bb = document.querySelector('#colContent').getBoundingClientRect();
            width = bb.right - bb.left;
            $(document).ready(function () {
                $('#pv_content').summernote({
                    height: screen.availHeight * 0.9,
                    width: width * 0.9
                });
            });
            $("#pv_OPJ").select2({theme: "bootstrap"});
            $("#pv_criminels").select2({theme: "bootstrap"});
        });
    </script>
{% endblock %}