{% extends 'base.html.twig' %}

{% block title %}Effectif{% endblock %}
{% block pageTitle %}Tribunal{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group m-2">
                <button type="button" class="btn btn-outline-info btn-lg" data-toggle="modal"
                        data-target="#aideModal"><span class="oi oi-question-mark"></span></button>
                {% if app.user.magistrat and app.user.magistrat.isOfficier %}
                    <a href="{{ path('tribunal_personnel_new') }}" class="btn btn-outline-primary btn-lg">
                        <span class="oi oi-person"></span> Recrutement
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Personnel</h3>
            <table class="table table-bordered table-hover table-responsive-sm bg-white">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Grade</th>
                    <th scope="col">Nom</th>
                </tr>
                </thead>
                <tbody>
                {% for magistrat in magistrats %}
                    {% if magistrat.lastActivity < date('-15days') %}
                        <tr class="table-warning">
                    {% elseif magistrat.blocked %}
                        <tr class="table-danger">
                    {% else %}
                        <tr>
                    {% endif %}
                    <td>{{ magistrat.grade }}</td>
                    <td><a href="{{ path('tribunal_personnel_show', {'id': magistrat.id}) }}">{{ magistrat.name|upper }}
                            {{ magistrat.firstName }}
                            {% set duree =  magistrat.lastActivity.diff(date()) %}
                            {% if duree.i < 2 and duree.h == 0  and duree.days == 0 %} ¤{% endif %}
                        </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="aideModal" tabindex="-1" role="dialog" aria-labelledby="aideModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="aideModalLabel">Aide - Effectif</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>La section <b>Effectif</b> regroupe la liste des magistrats.</p>
                    <ul>
                        <li>le procureur peut bloquer un magistrat.</li>
                        <li>Un magistrat connecté a ce symbole : ¤.</li>
                        <li>Un magistrat absent depuis plus de 15 jours est surligné en orange.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
