{% extends 'base.html.twig' %}

{% block pageTitle %}Fichier des Véhicules Volés{% endblock %}
{% block title %}FVV | {{ vehicule.plaque }}{% endblock %}

{% block body %}
    <div class='row'>
        <div class="col-md-5">
            <h3>Véhicule {{ vehicule }}
                {% if vehicule.retrouve %} <span class="badge badge-primary">Retrouvé</span>{% endif %}
            </h3>
            <div class="btn-group m-2">
                <a href="{{ path('gd_fvv') }}" class="btn btn-outline-secondary">
                    <span class="oi oi-list"></span> Retour au FVV</a>
                {% if not vehicule.retrouve %}
                    <a href="{{ path('gd_fvv_edit', {'id': vehicule.id}) }}" class="btn btn-outline-info">
                        <span class="oi oi-pencil"></span> Modifier</a>
                    <a href="{{ path('gd_fvv_retrouve', {'id': vehicule.id}) }}" class="btn btn-outline-success"
                       onclick="return confirm('Confirmer que le véhicule a bien été retrouvé : ');">
                        <span class="oi oi-check"></span> Véhicule retrouvé</a>
                {% endif %}
                {% if app.user.gendarme.isOfficier %}
                    {{ include('FVV/_delete_form.html.twig') }}
                {% endif %}
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <th>Date</th>
                    <td>{{ vehicule.date|date('d/m/y H:i') }}</td>
                </tr>
                <tr>
                    <th>Propriétaire</th>
                    <td>{{ vehicule.propName|upper }} {{ vehicule.propFirstName }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ vehicule.type }}</td>
                </tr>
                <tr>
                    <th>Plaque</th>
                    <td>{{ vehicule.plaque }}</td>
                </tr>
                <tr>
                    <th>Auteur</th>
                    <td><a href="{{ path('gd_personnel_show', {'id': vehicule.author.id}) }}">{{ vehicule.author }}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <p class="card-text text-justify">
                        {{ vehicule.comment|raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}