{% extends 'base.html.twig' %}

{% block title %}En attente de jugement{% endblock %}
{% block pageTitle %}En attente de jugement{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h3>{{ titre }}</h3>
            <p><em>Liste des individus {{ titre|lower }} (en détention ou sous bracelet).</em></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-hover table-responsive-sm bg-white" id="tablePrison">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Dangerosité</th>
                    <th scope="col">Type</th>
                    <th scope="col">Durée</th>
                </tr>
                </thead>
                <tbody>
                {% for prison in prisons %}
                    <tr class="
                    {% if prison.criminel.isEvade %}table-danger
                    {% elseif prison.endDate < date() %}table-warning
                    {% elseif prison.criminel.dangerous > 8 %}table-info
                    {% endif %}" onclick="window.location = '{{ url('prison_show', {'id': prison.id}) }}';">
                        <td>
                            <a href="{{ path('prison_show', {'id': prison.id}) }}">
                                {{ prison.criminel.name|upper }} {{ prison.criminel.firstName }}
                                {% if prison.PV %}(PV {{ prison.PV }}){% endif %}
                            </a>
                        </td>
                        <td>{{ prison.criminel.dangerous }}</td>
                        <td>{{ prison.type }}</td>
                        <td>{{ prison.startDate|date('d/m/y') }} - {{ prison.endDate|date('d/m/y') }}
                            (Depuis {{ prison.getDuree.d }} jours)
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Pas d'individus {{ titre|lower }}.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
