{% extends 'base.html.twig' %}

{% block title %}PSEF{% endblock %}
{% block pageTitle %}Surveillance électronique{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h3>En cours</h3>
            <div class="btn-toolbar m-2">
                <div class="btn-group mr-2 btn-group-lg">
                    <button type="button" class="btn btn-outline-info" data-toggle="modal"
                            data-target="#aideModal">
                        <span class="oi oi-question-mark"></span></button>
                    <a href="{{ path('prison_new', {'type': 'Bracelet électronique'}) }}" class="btn btn-outline-primary">
                        <span class="oi oi-person"></span> Nouveau bracelet</a>
                </div>
                <div class="input-group mt-2">
                    <input id="inputSearchPrison" onkeyup="searchPrison();" class="form-control" type="search" placeholder="Rechercher"
                           aria-label="Search">
                    <div class="input-group-append">
                        <div class="input-group-text"><span class="oi oi-magnifying-glass"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-hover table-responsive-sm bg-white">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Dangerosité</th>
                    <th scope="col">Début</th>
                    <th scope="col">Fin</th>
                    <th scope="col">Contrôle judiciaire</th>
                    <th scope="col">Type</th>
                </tr>
                </thead>
                <tbody>
                {% for bracelet in bracelets %}
                    <tr class="
                    {% if bracelet.endDate < date() %}table-info
                    {% elseif not bracelet.isValid %}table-warning
                    {% endif %}" onclick="window.location = '{{ url('prison_show', {'id': bracelet.id}) }}';">
                        <td><a href="{{ path('prison_show', {'id': bracelet.id}) }}">
                                {{ bracelet.criminel.name|upper }} {{ bracelet.criminel.firstName }}</a></td>
                        <td>{{ bracelet.criminel.dangerous }}</td>
                        <td>{{ bracelet.startDate|date('d/m/y H:i') }} (Depuis {{ bracelet.getDuree.d }} jours)</td>
                        <td>{{ bracelet.endDate|date('d/m/y H:i') }}</td>
                        <td>{{ bracelet.validation }}
                            {% if bracelet.validation != 'Jamais' %}
                                <em> ({{ bracelet.validationDate|date('d/m/y H:i') }})</em>
                            {% endif %}</td>
                        <td>{{ bracelet.status }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Aucun individu sous surveillance électronique actuellement.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="aideModal" tabindex="-1" role="dialog" aria-labelledby="aideModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="aideModalLabel">Aide - Prison</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>La section <b>Prison</b> liste les fiches d'incarcération toujours en cours.
                        <br/>Une fiche a :</p>
                    <ul>
                        <li>un auteur gendarme.</li>
                        <li>une date de début.</li>
                        <li>une date de fin.</li>
                        <li>un possible lien avec un PV.</li>
                        <li>un résumé, en quelques mots.</li>
                        <li>un type, parmi :
                            <ul>
                                <li>GAV</li>
                                <li>En attente de jugement</li>
                                <li>Condamné</li>
                                <li>Autre</li>
                            </ul>
                        </li>
                        <li>un possible commentaire.</li>
                    </ul>
                    <p>Seul un gendarme peut créer la fiche d'incarcération mais seul un agent pénitencier peut la modifier.</p>
                    <p>Seul un agent pénitencier peut libérer un individu.</p>
                    <p>Lors d'un dépassement de la date finale, la ligne devient orange.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}