{{ form_start(form) }}
<div class="row">
    <div class="col-md-5">
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.tel) }}
        {{ form_row(form.save) }}
    </div>
    <div class="col-md-7" id="colContent">
        {{ form_row(form.content) }}
    </div>
</div>
{{ form_end(form) }}